---
title: About
---
extends layouts/_layout
block content
  .container
    .about
      .about__row 
        .about__block 
          .about__img
            img(src="img/about.jpeg", alt="")
        .about__block 
          .about__text
            h1 About our place end mission 
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum quam, veniam mollitia nemo ipsam eius esse repellendus eaque quidem natus, nesciunt id adipisci, tempora quisquam atque eos nam eveniet. Error? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, similique deleniti! Maxime fugiat enim explicabo numquam nesciunt corrupti porro adipisci nulla nihil molestias, consectetur laudantium aperiam amet temporibus! Nulla, eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, porro ullam. Nam modi harum officiis consequuntur, enim minima repudiandae exercitationem excepturi dolor ipsum veritatis et. Saepe rerum culpa laboriosam enim. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus voluptates eos, ab neque quos aperiam labore, explicabo laboriosam recusandae blanditiis libero voluptatem tempora hic quas repellendus reprehenderit rem mollitia repellat!
            