---
title: About
---
extends layouts/_layout
block content
  .container
    .about
      .about__row 
        .about__block 
          .about__img
            img(src="img/about.jpeg", alt="")
        .about__block 
          .about__text
            h1 About our place end mission 
            p Hartford is a shipbroking company that during not big period of time become into leading player of the Black sea region in sale&purchase industry. We provide sale&purchase services covering all segments and sizes. We have one clear mission: To provide our clients with accurate information and experienced advice enabling them conclude the deals that serve their goals. We have a solid reputation for our integrity and we create the requested environment of professional trust for all our principals. Choosing Hartford you can be sure that you made the right choice! 
            