---
title: Home
---
extends layouts/_layout
block content
  .home
    .container
      h1 Speed - Reliability - Success
      a(href="about.html") Find out more!



  .service-home 
    .container
      h2 Our advanced services
      .service-home__row 
        .service-home__block 
          img(src="img/secondhand.svg", alt="")
          strong SECOBDHEND
          p Our core business is secondhand sale and purchase deals. Our years of experience...
          a(href="#") Learn more 
        .service-home__block 
          img(src="img/recycling.svg", alt="")
          strong recycling
          p Our direct and successful relationship with all major demolition yards over the world and the vast...
          a(href="#") Learn more 
        .service-home__block 
          img(src="img/valuations.svg", alt="")
          strong valuations
          p We always ready to help our clients in vessel valuations. Our massive experience...
          a(href="#") Learn more 