---
title: Home
---
extends layouts/_layout
block content
  .home
    .container
      h1 Speed - Reliability - Success
      a(href="about.html") Find out more!
  //- .feedback.contacts
  //-   .container
  //-     h1 Feedback
  //-     form.form
  //-       label
  //-         span Name 
  //-         input(type="text" name="name" placeholder="Name")
  //-       label
  //-         span Email
  //-         input(type="email" name="email" placeholder="email@.com")
  //-       label
  //-         span Phone number
  //-         input(type="number" name="phone" placeholder="Phone number")
  //-       label
  //-         input(type="submit" value="Submit")


  .service-home 
    .container
      h2 Lorem ipsum, dolor sit amet
      .service-home__row 
        .service-home__block 
          img(src="img/secondhand.svg", alt="")
          strong SECOBDHEND
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro rem error odio sint quas, corporis voluptatibus, ducimus ratione quisquam accusamus labore blanditiis magnam excepturi quasi fugiat ut id dolore ab!
          a(href="#") Learn more 
        .service-home__block 
          img(src="img/recycling.svg", alt="")
          strong recycling
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro rem error odio sint quas, corporis voluptatibus, ducimus ratione quisquam accusamus labore blanditiis magnam excepturi quasi fugiat ut id dolore ab!
          a(href="#") Learn more 
      .service-home__row 
        .service-home__block 
          img(src="img/valuations.svg", alt="")
          strong valuations
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro rem error odio sint quas, corporis voluptatibus, ducimus ratione quisquam accusamus labore blanditiis magnam excepturi quasi fugiat ut id dolore ab!
          a(href="#") Learn more 