---
title: Все страницы
---
extends layouts/_layout
block content
  .container.pages 
    h1 Все страницы
    ul
      li 
        a(href="index.html") Home
      li
        a(href="about.html") About
      li
        a(href="services.html") Services
      li
        a(href="contacts.html") Contacts