---
title: Services
---
extends layouts/_layout
block content
  .container
    .services
      h1 All services
      .tabs 
        ul.tabs__caption
          li.active Secondhand 
          li Demolition 
          li Valuations

        .tabs__content.active
          .services__row 
            .services__block 
              .services__img 
                img(src="img/secondhand.jpeg", alt="")
            .services__block 
              .services__text 
                p Our core business is secondhand sale and purchase deals. Our years of experience combined with the relationships we sustain and are still developing with all parts of the shipping world guarantee an up to date and spherical information to our clientele. Our commitment to the clients we are serving all these years are an absolute guarantee for the best possible result.
        
        .tabs__content
          .services__row 
            .services__block 
              .services__img 
                img(src="img/demolition.jpeg", alt="")
            .services__block 
              .services__text 
                p Our direct and successful relationship with all major demolition yards over the world and the vast experience we have in this segment are able to negotiate on behalf of our clients making potentially complex negotiations easier to navigate. An extensive network of contacts enable us to complete the sale with best possible price.

        .tabs__content
          .services__row 
            .services__block 
              .services__img 
                img(src="img/valuations.jpeg", alt="")
            .services__block 
              .services__text 
                p We always ready to help our clients in vessel valuations. Our massive experience in valuations connected with good comprehension of current situation in market gives us the ability to provide accurate predict of the vessel’s price. 
