//BEGIN footer
footer.footer
  .container 
    ul.footer__nav
      li.active
        a(href="index.html")
          span Home
      li 
        a(href="about.html")
          span About
      li
        a(href="services.html")
          span Services
      li
        a(href="contacts.html")
          span Contact
    a(href="mailto:snp@hartfordsa.com").footer__mail snp@hartfordsa.com 
//END footer