include ./_mixins
doctype html
html
  head
    include _head

  body(class=bodyClass)
    //BEGIN out
    .out(class=outClass)
      block header
        include ../partials/_header
      block content
      block footer
        include ../partials/_footer
      block pop-up
        include ../partials/_pop-up
    //END out

    //LOAD SCRIPTS
    block scripts
      script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
      script(type="text/javascript" src="js/app.js")
      //- script(type="text/javascript" src="js2/app.js")

